@tailwind base;
@tailwind components;
@tailwind utilities;

.wallet-adapter-modal-overlay {
  background: transparent;
  backdrop-filter: blur(10px);
}

.wallet-adapter-modal-wrapper {
  background-color: black;
}

.wallet-adapter-button {
  text-wrap: nowrap;
}
